<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
      <clear />
      <add name="connectionString"
       providerName="System.Data.ProviderName"
       connectionString="C:\Users\marti\_working-repo\CodingTimeTracker.practice\CodingTracker.DreamFXX;" />
    </connectionStrings>
</configuration>